<div class="footer">
  <div class="footer-copyright">
    Esta página foi desenvolvida pelos oceanógrafos Tobias e Vanessa Bach<!--  <i class="fas fa-heart"></i>  -->do Centro de Hidrografia da Marinha.
  </div>
</div>