<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-left">
  <%= image_tag "brasao.png", class: "nav-img" %>
  <%= image_tag "logo-106x106.png", class: "nav-img"  %>
  <%= image_tag "logo_remo.png", class: "nav-img"  %>
</div>
