<div class="container">
  <h2 class="mt-4" style="font-size: 30px;">LOG IN</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :username, label: "Usuário",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "username" } %>
      <%= f.input :password, label: "Senha",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
