.footer{
  background: rgb(200,200,200);
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  height: 50px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}

// .footer .fa-heart {
//   color: #D23333;
// }