.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-img{
  width: 50px;
  margin-left: 10px;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
	.nav-img{
	  width: 30px;
	  margin-left: 5px;
	}
}