body {
  background: rgba(200,200,200,0.3) url(https://jackrugile.com/images/misc/noise-diagonal.png);
  color: #444;
  font: 100%/10px 'Helvetica Neue', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  text-align: left;
}

th {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  position: relative;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  a {
    color: #fff;
    :hover {
      text-decoration: none;
    }
  }
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  padding: 3px;
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  transition: all 100ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}

tr {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
  background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 0px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 250px; // adjust to your needs

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
}

.ruby-names-wrapper.collapsed .checkbox-wrapper {
  display: none;
}

.ruby-names-wrapper .checkbox-wrapper {
  display: block;
}



.rwd-table {
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
}

.inactive-tab {
  display: none !important;
}

@media (max-width: 960px) {
  .rwd-table {
    font-size: 12px;
  }
  .fontawe{
    font-size: 8px;
  }
  .h1{
    font-size: 23px;
  }
}
@media (max-width: 720px) {
  .rwd-table {
    font-size: 10px;
  }
  .fontawe{
    font-size: 14px;
  }
  .h1{
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .rwd-table {
    font-size: 8px;
  }
  .fontawe{
    font-size: 14px;
  }
  .h1{
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .rwd-table {
    font-size: 14px;
  }
  .fontawe{
    font-size: 18px;
  }
  .h2{
    display: none;
  }
}


